

/* Loading Modals */

.Loader_main_box{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7376764a;
    z-index: 9999;
}


.Loader_main_box img{
    width: 80px;
}
