.main_contact_box{
    display: flex;
    flex-direction: row;
    background-color: rgba(41, 40, 42, 0.886);;
    height: max-content;
    margin: 12px 0;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
}


.contact_image{
    margin: 0 20px ;
    display: inline;
    width: 45px;
  height: 45px;
  border-radius: 25px;
    
}

.contact_section{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    width: 80%;
}

.contact_details{
    margin: 5px 0px 0px 2px;
}

.contact_name{
    font-size: 20px;
    width: max-content;
    font-weight: bold;
    line-height: 0.25px;
}

.last_message{
    width: max-content;
    
}

.contact_lasttime{
    width: max-content;
    text-align: center;
    
    
}